<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Page photos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body th:style="'background: url(/img/photo.jpeg) no-repeat center center fixed;'">
<form action="#" method="post" th:action="@{/}" th:object="${pageModel}">
<div class="container">
    <div class="row justify-center">
        <div class="col-12">
                <h1>Welcome to screenshot web page taker</h1>
            <div class="input-group mb-3">
                <input id="userpage" type="text" class="form-control" placeholder="Add URL..." aria-label="Add an item" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" id="page" type="button">Add</button>
                    <button class="btn btn-secondary" id="remove" type="button">Remove</button>
                </div>
            </div>

        </div>
        <div class="col-12">
            <ul class="list-group" id="added-pages">
            </ul>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <form action="#" method="post" th:action="@{/}" th:object="${pageModel}">
    <input th:field="*{page}" class="notes" id="notes" hidden/>
        </form>
</div>
</div>
</form>


<script th:inline="javascript" type="text/javascript">
    var add = document.getElementById("page");
    var remove = document.getElementById("remove");
    var input = document.getElementById("userpage");
    var ul = document.querySelector("ul");
    var filedText = document.getElementById('notes');

    add.addEventListener("click", function() {
        var li = document.createElement("li");
        // Add Bootstrap class to the list element
        li.classList.add("list-group-item");
        li.appendChild(document.createTextNode(input.value));
        ul.appendChild(li);

        // Add text to input for thymeleaf read
        filedText.value = filedText.value  + input.value + ';';

        // Clear your input
        input.value = "";
    });

    remove.addEventListener("click", function () {
        var elements = document.getElementById('added-pages');
        elements.removeChild(elements.lastElementChild);

        // Remove from input for file read
        var inputArray = filedText.value.split(";");
        var pattern = inputArray[inputArray.length - 1] + ";" ;
        var actualInput = filedText.value;
        filedText.value = actualInput.replace(pattern, "");
    })
</script>
</body>

</html>